<head>
    <title>Natural SQL</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="input-section">
        <form method="POST" action="/query">
            <input type="text" placeholder="Enter a sentence" value="{{user_input}}" id="user_input" name="user_input">
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="output-section">
        <div class="sql-query-display">
            <h3>Generated SQL Query</h3>
            <div class="sql-query-box">
                {{query}}
            </div>
        </div>

        <div class="sql-results-display">
            {{sql_results | safe}}
        </div>
    </div>
</body>